.main-card {
    width: 49%;
    height: auto;
    margin-right: 1%;
}

.main-card-contents {
    height: 100%;
    width: 100%;
    padding-top: 5px;
}

.main-card-contents > *{
    margin: 20px 0;
}

.current-main-temp-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card-right > p{
    width: 100%;
}

.current-city {
    margin-top: 10px;
}

.current-main-temp {
    font-size: 3em;
}

.current-weather-min-max {
    margin: 0 10px;
}

.current-temp-bar {
    width: 30%;
    height: 5px;
    background: linear-gradient(to right, #00FF00, #ff0000);
    border-radius: 50px;
    margin: 3px 0;
}

@media (max-width: 1024px) {
    .main-card {
        width: 100%;
        margin-right: 0;
    }
}

