.wind-content {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.wind-title {
    width: 100%;
}

.wind-title > p {
    margin-left: 5px;
}

.wind-values {
    margin-top: -4px;
}

.wind-values > p {
    margin: 10px 0;
}

.wind-icon {
    width: 18px;
    height: 18px;
    filter: invert();
}