.visibility-content {
    height: 100%;
}

.visibility-title {
    align-items: center;
}

.visibility-title > p {
    margin-left: 5px;
}

.visibility-value-parent {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visibility-value {
    font-size: 2em;
}
