.sun-content {
    height: 90%;
    text-align: left;
}

.sun-content > * {
    margin: 9px 0;
}

.icon {
    filter: invert();
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.sun-title {
    flex-wrap: wrap;
}

.sunset {
    margin-top: 22px;
}

.sunrise p, .sunset p {
    margin-top: 2px;
}

.sunrise h2, .sunset h2 {
    width: 100%;
}

/* for ipad pro */
@media (max-width: 1024px) and (max-height: 1366px) and (min-width: 1024px) and (min-height: 600px){
    .sun-content {
        display: flex;
        align-items: center;
    }
    .sun-content > * {
        margin: 0 10px;
    }
    .sunrise h2, .sunset h2 {
        margin-top: 10px;
    }
}